# Sarvam OCR API Configuration
SARVAM_API_KEY=your_sarvam_api_key_here

# MongoDB Configuration
MONGO_URI=mongodb+srv://thakurayushmadhukar139_db_user:fq1p5UbyXcq9kJX4@cluster0.r3majtd.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=papertrail_db

# Upload Configuration
UPLOAD_FOLDER=uploads/
