fastapi==0.115.0
uvicorn[standard]==0.32.0
opencv-python==4.10.0.84
requests==2.32.3
pymongo==4.10.1
python-multipart==0.0.12
numpy==2.1.3
python-dotenv==1.0.1
pydantic==2.9.2
sarvamai==0.1.27
pytesseract>=0.3.13
Pillow>=12.0.0
paddleocr>=3.4.0
